<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '370884386324798', // App ID
      channelUrl : '//www.joinmenow.co/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    FB.Event.subscribe('auth.statusChange', handleStatusChange);
  };

   function handleStatusChange(response) {
     document.body.className = response.authResponse ? 'connected' : 'not_connected';

     if (response.authResponse) {
       console.log(response);
     }
   }

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#"><img src="/assets/img/logo.png" width="190" height="50"></a>
        <div class="nav-collapse collapse">
          <!--<ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            
          </ul>-->
          <form class="navbar-form pull-right">
          Your location: Vancouver
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>


  <div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="row">
      <div class="span10">
        <h2>Hi name!</h2>
        <p>What sports are you interested in? Start typing to add interests! </p> 


<h2>Your Interests</h2>
        <p><span class="label label-info">soccer</span> <span class="label label-info">basketball</span> <span class="label label-info">hackathon</span></p>
        </div>

      
      <div class="span10">
      
        <p>Start by creating an event you want to do now or join an event near you.</p>
        <p><%= link_to "Create an event", new_event_path, class: "btn btn-primary btn-large"%></p>
     </div>
      <div class="span10">
          
          <button onclick="search_events();" class="btn">
              search events
          </button>
        
        <h3>Todays' events near you</h3>
       
              <p><div id="map_canvas" style="width:400px;height:300px;"></p>
                
                <table>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>

                <% @events.each do |event| %>
                  <tr>
                    <td><%= link_to 'Show', event %></td>
                    <td><%= link_to 'Edit', edit_event_path(event) %></td>
                    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
                </table>
            
        <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Sport</th>
                <th>When</th>
                <th>Where</th>
                <th>Host</th>
              </tr>
            </thead>
            <tbody>
              <% @events.each do |event| %>
                <tr>
                  <td><%= link_to 'Join', event %></td>
                  <td></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>

  

    <hr>

    <footer>
      <p>&copy; JoinMeNow 2012</p>
    </footer>

  </div> <!-- /container -->

<script>
MAP = null;
EVENT_MARKER = null;
USER_MARKER = null;
EVENT_MARKERS = [];

function create_map(map_div, lat, lng, zoom) {
    var center = new google.maps.LatLng(lat || JMN.DEFAULTS.latitude, lng || JMN.DEFAULTS.longitude);
	var map = new google.maps.Map(map_div, {
		center: center,
		zoom: zoom || JMN.DEFAULTS.zoom,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
		disableDefaultUI: false,
		streetViewControl: false,
		panControl: false,
		zoomControl: true,
		zoomControlOptions: {
			style: google.maps.ZoomControlStyle.SMALL
		},
		overviewMapControl: false,
		mapTypeControl: false,
		mapTypeControlOptions: {
			style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
		},
        disableDoubleClickZoom: true,
	});
	return map;
}

function search_events() {
    var params = {lat:MAP.getCenter().lat(), lon:MAP.getCenter().lng(), radius:5000}
    return $.getJSON("/events/search", params)
        .done(function(data) {
            var bounds = new google.maps.LatLngBounds();
            bounds.extend(USER_MARKER.getPosition());

            _.each(data, function(val,i) {
                var pos = new google.maps.LatLng(val.lat, val.lon);
                var marker = new google.maps.Marker({
                    map: MAP,
                    icon: new google.maps.MarkerImage("/assets/blue_markers_small/"+ (i+1)),
                    position: pos,
                    title: val.name,
                });
                var infowindow = new google.maps.InfoWindow(
                { content: "<h4>"+val.name+"</h4><p>"+val.description+"</p><p>start time: "
                    +val.start_time+"<br/>end time: "+val.end_time+
                    "</p><a class='btn' href='/events/"+val.id+"'>join</a>",
                    size: new google.maps.Size(50,50),
                });
                google.maps.event.addListener(marker, 'click', function() {
                   infowindow.open(MAP, marker);
                });

                EVENT_MARKERS.push(marker);
                bounds.extend(pos);
            });

            MAP.fitBounds(bounds);

        }).fail(function(response) {
            console.log("ERROR: search failed: params = ", params, " response = ", response);
        })
}

function init() {
	var lat = 49.2825646098;    // Downtown Vancouver
	var lng = -123.1181656402; // Downtown Vancouver
	var zoom = 12;

    MAP = create_map($("#map_canvas")[0], lat, lng, zoom);

    var coords = null;
    JMN.geolocate()
        .done(function(location) {
            console.log("succesfully geolocated: ", location);
            coords = location.coords;   // if got Geolocation, then overwrite coords
            var latlng = new google.maps.LatLng(coords.latitude, coords.longitude);
            MAP.setCenter(latlng);

            // create circle:
            var marker_opts = {
                icon: new google.maps.MarkerImage("/assets/blank_marker.png"),
                position: latlng,
                draggable: true,
            };
            var circle_opts = {
                center: latlng,
                radius: coords.accuracy,
                editable: true,
            };
            USER_MARKER = JMN.add_circle_marker(MAP, marker_opts, circle_opts);

//            var circle = create_circle_marker(MAP, latlng, coords.accuracy);
            MAP.fitBounds(USER_MARKER.getBounds());
            MAP.setZoom(MAP.getZoom() - 2);
        }).fail(function(msg) {
            console.log("geolocation failed!", msg);
            // create circle:
            var marker_opts = {
                icon: new google.maps.MarkerImage("/assets/blank_marker.png"),
                position: MAP.getCenter(),
                draggable: true,
            };
            USER_MARKER = JMN.add_circle_marker(MAP, marker_opts);
        }).always(function() {
            console.log("geolocation always!");
        });
}

$(document).ready(init);

</script>
