<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="/assets/img/logo.png" width="190" height="50"></a>
          <div class="nav-collapse collapse">
            <!--<ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              
            </ul>-->
            <form class="navbar-form pull-right">
            Your location: Vancouver
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
        <div class="span10">
          <h2>Create New Event</h2>
          <p>Enter some details and get runnin'! </p>
          
          <%= form_for Event.new do |f| %>
            <%= f.label :name, "Event Name" %>
            <%= f.text_field :name, placeholder: "What sport?" %>
            <%= f.label :description %>
            <%= f.text_area :description, size: "3x3" %>
            <%= f.label :start_time %>
            <%= f.datetime_select :start_time %>
            <%= f.label :end_time %>
            <%= f.datetime_select :end_time, default: 3.hours.from_now %>
            
            <label>Where?</label>
            <div id="map_canvas" style="width:400px;height:300px;">
            </div>
            
            <%= f.hidden_field :lat %>
            <%= f.hidden_field :lon %>
            <%= f.submit "Get others to join you now!", class: "btn btn-primary btn-large" %>
          <% end %>


</p>

        
       </div>
      </div>

    

      <hr>

      <footer>
        <p>&copy; JoinMeNow 2012</p>
      </footer>

    </div> <!-- /container -->

<script>
function create_map(map_div, lat, lng, zoom) {
    var center = new google.maps.LatLng(lat || JMN.DEFAULTS.latitude, lng || JMN.DEFAULTS.longitude);
	var map = new google.maps.Map(map_div, {
		center: center,
		zoom: zoom || JMN.DEFAULTS.zoom,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
		disableDefaultUI: false,
		streetViewControl: false,
		panControl: false,
		zoomControl: true,
		zoomControlOptions: {
			style: google.maps.ZoomControlStyle.SMALL
		},
		overviewMapControl: false,
		mapTypeControl: false,
		mapTypeControlOptions: {
			style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
		},
        disableDoubleClickZoom: true,
	});
	return map;
}
function init() {
	var lat = 49.2825646098;    // Downtown Vancouver
	var lng = -123.1181656402; // Downtown Vancouver
	var zoom = 12;
	MAP = null;
	EVENT_MARKER = null;

    MAP = create_map($("#map_canvas")[0], lat, lng, zoom);

    // Position the Event
    google.maps.event.addListener(MAP, 'dblclick', function(event) {
        var pos = event.latLng;
        MAP.setCenter(pos);
        if(EVENT_MARKER) {
            EVENT_MARKER.setMap();
            delete EVENT_MARKER;
        }
    	EVENT_MARKER = new google.maps.Marker({
    	    map: MAP,
            icon: new google.maps.MarkerImage("/assets/1.png"),
            position: pos,
//            draggable: true,
    	});
    	$('#event_lat').val(pos.lat());
    	$('#event_lon').val(pos.lng());
    });


    var coords = null;
    JMN.geolocate()
        .done(function(location) {
            console.log("succesfully geolocated: ", location);
            coords = location.coords;   // if got Geolocation, then overwrite coords
            var latlng = new google.maps.LatLng(coords.latitude, coords.longitude);
            MAP.setCenter(latlng);

            // create circle:
            var marker_opts = {
                icon: new google.maps.MarkerImage("/assets/blank_marker.png"),
                position: latlng,
                draggable: true,
            };
            var circle_opts = {
                center: latlng,
                radius: coords.accuracy,
                editable: true,
            };
            var marker = JMN.add_circle_marker(MAP, marker_opts, circle_opts);

//            var circle = create_circle_marker(MAP, latlng, coords.accuracy);
            MAP.fitBounds(marker.getBounds());
            MAP.setZoom(MAP.getZoom() - 2);
        }).fail(function(msg) {
            console.log("geolocation failed!", msg);
        }).always(function() {
            console.log("geolocation always!");
        });
}

$(document).ready(init);

</script>
